/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav {
  width: 34%;
}

header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .right-btn {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .right-btn .sn-in button i {
  margin-right: 4px;
}

header .right-btn .bell {
  position: relative;
}

header .right-btn .bell i {
  color: #3270FC;
}

header .right-btn .bell span {
  position: absolute;
  top: -9px;
  right: -9px;
  color: #fff;
  font-size: 13px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .add-listing button {
  border: none;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  background: #3270FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
}

header .add-listing button:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(61%, #3270fc), to(#6a96fd));
  background: linear-gradient(90deg, #3270fc 61%, #6a96fd 100%);
}

header .add-listing button i {
  font-size: 25px;
  color: #fff;
}

.hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-section .hero-bg-color {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-bg-color .hero-text {
  margin-left: 40px;
  width: 50%;
  height: auto;
}

.hero-section .hero-bg-color .hero-text p, .hero-section .hero-bg-color .hero-text h1 {
  color: #fff;
}

.hero-section .hero-bg-color .hero-text h1 {
  font-size: 30px;
}

.section-two {
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */