/* *{
    color: red;
} */
/* h1:nth-child(even){
    color: red;
} */
/* h1{
    color: red;
} */
/* #text1{
    color: green;
}
#text2{
    color: green;
} */
/* comment */
/* .text1{
    color: red;
} */