html {
  scroll-behavior: smooth;
}

*, body:not(i) {
  font-family: sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  height: 100vh;
}

.container header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .logo-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container header .logo-container .logo {
  width: 125px;
  height: 71px;
  background-color: #E0B973;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.container header .logo-container .logo h1,
.container header .logo-container .logo p {
  color: #14274A;
  text-transform: uppercase;
}

.container header .logo-container .logo h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

.container header .logo-container .logo p {
  font-size: 7px;
  letter-spacing: 5px;
  font-family: sans-serif;
}

.container header nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container header nav ul li a {
  color: #fff;
}

.container .hero {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: url("../img/hero-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .hero .hero-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 39, 74, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .hero .hero-bg .inner-container {
  width: 80%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .hero .hero-bg .inner-container .text-box {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .hero .hero-bg .inner-container .text-box * {
  color: #fff;
}

.container .hero .hero-bg .inner-container .text-box h1 {
  font-size: 50px;
  text-transform: uppercase;
}

@media (max-width: 321px) {
  .container .hero .hero-bg .inner-container .text-box h1 {
    font-size: 15px;
  }
}

@media (max-width: 321px) {
  .container .hero .hero-bg .inner-container .text-box p {
    font-size: 10px;
  }
}

.container .hero .hero-bg .inner-container .btn-box {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .hero .hero-bg .inner-container .btn-box button {
  width: 100px;
  height: 40px;
  background-color: #E0B973;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.container .hero .hero-bg .inner-container .btn-box button i {
  margin-right: 5px;
}

.container .hero .hero-bg .inner-container .btn-box .icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
}

.container .hero .hero-bg .inner-container .btn-box .icon-box i {
  font-size: 25px;
}

.container .hero .hero-bg .inner-container .btn-box .icon-box i, .container .hero .hero-bg .inner-container .btn-box .icon-box span {
  color: #fff;
}

.luxury-box {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 700px;
  background-color: red;
}

@media (max-width: 321px) {
  .container header {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .container header nav ul {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */