.main-box{
    width: 700px;
    height: 400px;
    background-color: green;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* sutunlar uchun */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* setrler uchun */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    /* border:10px dashed #000 ; */
    margin: 10px;
    font-size: 30px;
    color: #fff;
}